<p class="footer">🗒️ <a href="/articles" class="color-blue">Tulisan</a> | 🎙️ <a href="/showcase" class="color-green">Karya</a> | ⚙️ <a href="/service" class="color-yellow">Service</a> | 🔬 <a href="/experiment" class="color-red">Eksperimen</a> | 🚢 <a href="https://karyakarsa.com/rizafahmi/ceritanya-mentorship" target="_blank" rel="noopener noreferrer" class="color-orange">Mentorship</a> | 🔖 <a href="https://linktr.ee/rizafahmi" target="_blank" rel="noopener noreferrer">Kontak</a> | 📡 <a href="/feed.xml">RSS</a></p>
