<p class="footer">🗒️ <a href="/articles" class="color-blue">Tulisan</a> | 🎙️ <a href="/showcase" class="color-green">Karya</a> | ⚙️ <a href="/service" class="color-yellow">Service</a> | 🔬 <a href="/experiment" class="color-red">Eksperimen</a> | 🚢 <a href="/mentorship" class="color-orange">Mentorship</a></p>
