<div
  class="subscription-box"
>
  <h3>Kelas Online Struktur Data dengan JavaScript - BuildWithAngga.com</h3>
  <div>
    <img style="width:25%" src="https://www.buildwithangga.com/storage/assets/thumbnails/thumbnail%20alur%20belajar%20menjadi%20front%20end%20developer%20buildwith%20angga.png" />
    <p>Kelas online Struktur Data dengan JavaScript ini akan membahas berbagai macam struktur data. Mulai dari struktur data fundamental seperti array dan object literal, kemudian struktur data stack dan queue, hingga struktur data linked list.</p>
    <div class="my-2">
    <a class="color-black button" href="https://buildwithangga.com/kelas/struktur-data-dengan-javascript" target="_blank" rel="noopener noreferrer">Ikuti Kelas</a>
    </div>
  </div>
</div>
