---
title: Judul
---
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/global.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen" />
  </head>
  <body>
      <h1>👋 <a class="color-blue" href="/">Saya Riza</a>! Ini adalah kumpulan tulisan saya.</h1>
      {{ content | safe }}
  </body>
</html>
