<script>
  (function() {
    function sendToAnalytics(metric) {
      if (window.goatcounter && window.goatcounter.count) {
        window.goatcounter.count({
          path: 'web-vitals-' + metric.name,
          title: metric.name + ': ' + Math.round(metric.value),
          event: true
        });
      }
    }

    if ('web-vitals' in window) {
      Promise.all([
        window.webVitals.onCLS(sendToAnalytics),
        window.webVitals.onFID(sendToAnalytics),
        window.webVitals.onLCP(sendToAnalytics)
      ]);
    }
  })();
</script>
