/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''), url('/assets/fonts/lato-v17-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/lato-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/lato-v17-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/lato-v17-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/lato-v17-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/lato-v17-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/lato-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('/assets/fonts/lato-v17-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/lato-v17-latin-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/lato-v17-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: #211a1e;
  color: #fcfcfc;
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.24rem;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 20%;
  line-height: 175%;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
}

.color-blue {
  color: #5bc0eb;
  border-color: #5bc0eb;
}

.color-green {
  border-color: #7cffc4;
  color: #7cffc4;
}

.color-yellow {
  border-color: #fde74c;
  color: #fde74c;
}

.color-red {
  border-color: #e55381;
  color: #e55381;
}

.color-orange {
  border-color: #ff7f11;
  color: #ff7f11;
}
.color-black {
  border-color: #211a1e;
  color: #211a1e;
}

.bg-green {
  background-color: #7cffc4;
  color: #211a1e;
}

.subscription-box {
  border-radius: 1rem;
  padding: 1rem 1.75rem 1rem 1.75rem;
  margin-top: 3rem;
  transform: rotate(2deg);
}

.button {
  background-color: #211a1e;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 0.25rem;
  color: #fcfcfc;
  font-size: 1.25rem;
}
