---
title: Halo, Saya Riza!
pagination:
  data: collections.tulisan
  size: 18
  alias: tulisan
  reverse: true
---
<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="preload" as="style" href="/assets/global.css" type="text/css" media="screen" />
  <link rel="preload" as="style" href="/assets/home.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="/assets/global.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/home.css" type="text/css" media="screen" />

  <link rel="preload" href="/assets/fonts/wotfard-regular-webfont.woff2" type="font/woff2" as="font"
    crossorigin="anonymous" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="description" content="{{ description or title | escape }}" property="og:description">
  <meta property="og:url" content="https://rizafahmi.com{{ page.url | escape }}" />
  <meta property="og:image" content="https://rizafahmi.com{{ image or "/assets/images/riza.jpeg" }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@rizafahmi22" />
  <meta name="twitter:title" content="{{ title | escape }}" />
  <meta name="twitter:description" content="{{ description or title | escape }}" />
  <meta name="twitter:image" content="https://rizafahmi.com{{ image or "/assets/images/riza.jpeg" }}">

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favico/favicon-16x16.png">
  <!-- <link rel="manifest" href="/manifest.json"> -->


  <meta name="msapplication-TileColor" content="#211a1e">
  <meta name="msapplication-TileImage" content="/assets/images/favico/ms-icon-144x144.png">
  <meta name="theme-color" content="#211a1e">

  <link rel="alternate" type="application/rss+xml" href="https://rizafahmi.com/feed.xml" />
</head>

<body>
  <h1>👋 Saya Riza!</h1>

  <main>
    <h2>Artikel · <a href="/feed.xml">RSS</a></h2>
    <div class="articles">
      {% for t in tulisan %}
      <div class="article">
        <a href="{{t.url}}">
          <h6>&gt;&nbsp;&nbsp; {{ t.data.title }}</h6>
        </a>
      </div>
      {% endfor %}
      <div class="article">
        <a href="/articles">
          <h6>Artikel lainnya...</h6>
        </a>
      </div>
    </div>
  </main>
  <section>
    <h2>Karya</h2>
    <div class="articles">
      <div class="article">
        <a href="https://hacktiv8.com" target="_blank">
          <h6>🦊 &nbsp; HACKTIV8 Coding bootcamp, dirintis sejak <strong>2016</strong>.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://buildwithangga.com/kelas/sveltejs-front-end-javascript-development-web-donasi-online"
          target="_blank">
          <h6>📽️ &nbsp; Belajar SvelteJS, dan membuat aplikasi web donasi online dan integrasi dengan <em>payment gateway</em>.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://buildwithangga.com/kelas/struktur-data-javascript-improve-website-e-commerce"
          target="_blank">
          <h6>📽️ &nbsp; Struktur data dengan JS, belajar fundamental dengan bahasa pemrograman JavaScript.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://buildwithangga.com/kelas/mastering-react-js-progressive-web-apps-e-commerce"
          target="_blank">
          <h6>📽️ &nbsp; PWA dengan React, belajar implementasi PWA dengan React.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://carikerja.deeptech.id/"
          target="_blank">
          <h6>📱 &nbsp; Carikerja, daftar developer keren yang terkena dampak COVID-19.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://youtube.com/rizafahmi/live"
          target="_blank">
          <h6>🔴 &nbsp; Sesi <em>livestreaming</em>, belajar dan bikin-bikin bareng.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://youtube.com/playlist?list=PLTY2nW4jwtG8Sx2Bw6QShC271PzX31CtT&feature=shared"
          target="_blank">
          <h6>🎧 &nbsp; Ngobrolin Web, podcast mingguan membahas segala hal tentang WEB.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://github.com/rizafahmi/awesome-speakers-id"
          target="_blank">
          <h6>🐙 &nbsp; Awesome Speakers Indonesia, daftar developer yang berkenan diundang menjadi narasumber.</h6>
        </a>
      </div>

      <!-- RIP -->
      <div class="article">
        <a href="https://open.spotify.com/show/6grT1c7jDkhK4skm1YIsTs"
          target="_blank">
          <h6>☠️🎧 &nbsp; Ceritanya Developer Podcast.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://www.youtube.com/playlist?list=PLTY2nW4jwtG9IEUCDspLH0tAuF450DZz-"
          target="_blank">
          <h6>☠️🎧 &nbsp; Hikayat Punggawa Teknologi.</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://open.spotify.com/show/6wjIRrIQ8yvAgCwXCUXKXI"
          target="_blank">
          <h6>☠️🎧 &nbsp; AppsCoast, Indonesia Tech Startup Podcast
.</h6>
        </a>
      </div>
    </div> <!-- END ARTICLES -->
  </section>

  <section>
    <h2 id="kontak">Kontak</h2>
    <div class="articles">
      <div class="article">
        <a href="https://youtube.com/rizafahmi" target="_blank">
          <h6>▶️ &nbsp; YouTube</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://x.com/rizafahmi22" target="_blank">
          <h6>🐤 &nbsp; Twitter/X</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://github.com/rizafahmi" target="_blank">
          <h6>🐙 &nbsp; GitHub</h6>
        </a>
      </div>
      
      <div class="article">
        <a href="https://linkedin.com/in/rizafahmi" target="_blank">
          <h6>🔗 &nbsp; LinkedIn</h6>
        </a>
      </div>
      <div class="article">
        <a href="https://instagram.com/rizafahmi" target="_blank">
          <h6>🏞️ &nbsp; Instagram</h6>
        </a>
      </div>
      <div class="article">
        <a href="mailto:rizafahmi@gmail.com" target="_blank">
          <h6>💌 &nbsp; Email</h6>
        </a>
      </div>
    </div>
  </section>

  <script data-goatcounter="https://rizafahmi.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>