---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

/join   https://www.youtube.com/channel/UCHhAlFGFCGgIusQkQIqJLYw/join
/ratecard https://www.canva.com/design/DAFJBSuXtdc/9vL6w7IbFMrBz0xuMTHC0A/view
/hijra https://youtu.be/iBO5Aff257c
/video https://youtu.be/6vy9Qc_nTBk
/pertanyaanweb https://app.sli.do/event/hnsp9GwbBCiVB1CDBQABKo
/ngobrolinweb https://www.youtube.com/watch?v=gkxIZzHRIB8
/photo https://drive.google.com/file/d/1BJnpzwG1C9V7lnlqNFQlQD3pxeJXfWgG/view?usp=sharing
/biz-chat https://rizafahmi.gumroad.com/l/biz-chat
/youtube https://www.youtube.com/@RizaFahmi
/gemini https://gemini-mendang-mending-mjgx6qvgeq-et.a.run.app/
/codelabs https://codelabs.developers.google.com/draw-a-website-gemini
/feedback http://bore.pub:58730/?event=dna
